name: PHP Composer

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
          fail-fast: true
          matrix:
              os: [ubuntu-latest]
              php: [ 8.3, 8.2 ]
              laravel: [ '10.*', '11.*' ]
              stability: [prefer-lowest, prefer-stable]
              include:
                  - laravel: 11.*
                    testbench: 9.*
                  - laravel: 10.*
                    testbench: 8.*

    steps:
    - uses: actions/checkout@v2

    - name: Set up PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: ${{ matrix.php }}
        coverage: none

    - name: Validate composer.json and composer.lock
      run: composer validate

    - name: Install dependencies
      run: composer install --prefer-dist --no-progress --no-suggest

    # Add a test script to composer.json, for instance: "test": "vendor/bin/phpunit"
    # Docs: https://getcomposer.org/doc/articles/scripts.md

    - name: Run test suite
      run: composer run-script test
